################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/HttpFileServer/CopilotIndices/17.14.1290.42047
/.vs/HttpFileServer/DesignTimeBuild
/.vs/HttpFileServer/FileContentIndex
/.vs/ProjectEvaluation
/.vs
/HttpFileServer.IntegrationTests/bin/Debug/net9.0
/HttpFileServer.IntegrationTests/obj
/HttpFileServer.Tests/bin/Debug/net9.0
/HttpFileServer.Tests/obj
